<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Viretick</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        <link href="./assets/live/css/app.css" rel="stylesheet">
    </head>

    <body class="font-sans bg-grey-lighter flex flex-col min-h-screen">
        <div class="bg-blue-dark text-white items-center p-4 w-full">
            <div class="text-2xl">Viretick</div>
        </div>
        
        <div id="root">
            <div class="flex-1 m-4">
                <div v-for="message in messages" class="p-1">
                    <span class="text-purple font-semibold">RCon:</span> {{ message }}
                </div>
            </div>

            <input v-model="newMessage" @keyUp.enter="addMessage" class="p-4 w-full" type="text" id="cmd" placeholder="Write your command...">
        </div>

        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
        <script src="./index.js"></script>
    </body>
</html>